html {
	overflow-x: hidden;
}

footer {
	padding-top: 100px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f3f3f3;
}

h1 {
	font-size: 24px;
}

#home {
	padding-top: 200px;
	margin: 0 auto;
	max-width: 80%;
	height: 100vh;
}

#about {
	margin: 0 auto;
	max-width: 80%;
}

#home a {
	text-decoration: none;
}

#name_Container {
	padding-left: 76px;
	padding-top: 50px;
	padding-right: 0.9375rem;
	background-color: #f3f3f3;
}

#about_Container {
	padding-left: 1rem;
	padding-bottom: 50px;
	padding-right: 0.9375rem;
	background-color: #f3f3f3;
}

#about_Container h2 {
	margin-bottom: 1.25rem;
}

#about_Container p {
	width: 600px;
}

.name_Title {
	text-transform: uppercase;
	color: #b4b4b4;
	letter-spacing: .150em;
	cursor: text;
	display: block;
	line-height: 1.5;
	margin-bottom: 0;
}

.name {
	padding-bottom: 1px;
	color: #222222;
	padding-top: 5px;
}

#last_Name {
	cursor: help;
	font-weight: bold;
	font-size: .8em;
	color: #b9b9b9;
	font-family: serif;
	font-style: italic;
	border-bottom: dotted 1px #cccccc
}

#last_Name:hover {
	border-bottom: dotted 1px #003f54;
}

#currently_Container {
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0;
	background-color: #f3f3f3;
}

#logo, #logo_Mobile {
	height: 56px; 
	width: 56px; 
	float: left;
}

#currently {
	padding-left: 20px;
	padding-right: 0;
	margin: 10px 0 0 0;
}

#challenge {
	padding-left: 0;
	padding-right: 0;
	margin: 10px 0 0 0;
}

h2.secondary_Text {
	padding-left: 2em;
    font-size: 36px;
}

dd {
	margin-bottom: 0px;
}

dl {
	margin-left: 20%;
}

#projects {
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80%;
	padding-left: 0px;
	padding-right: 0px;
}

.card {
	border: none;
}
.card-header, .card-footer, .card {
	background-color: #f3f3f3;
}

.card-img-top {
	width: 100%;
	height: 16vw;
	object-fit: cover;
}

.card-text p {
	margin-bottom: .5rem;
}

.card-deck {
	flex-flow: row wrap !important;
}

footer {
	text-align: center;
	height: 100px;
	padding-top: 50px;
}

footer a {
	text-decoration: none;
	color: black;
	margin-left: 20px;
}

footer a:hover {
	color: black;
}

footer a:active {
	color: black;
}

footer a:visited {
	color: black;
}


@media (max-width: 767px) {
	#home {
		padding-top: 100px;
	}
	#name_Container {
		padding-left: 0px;
	}
	#currently_Container {
		padding-top: 10px;
	}
	#currently {
		padding-left: 0px;
	}
	#logo_Mobile {
		display: block !important;
		float: none;
	}
	#logo {
		display: none;
	}
	.card-img-top {
		height: 16vw;
	}
	.card-columns {
		column-count: 1;
	}
	#about_Container p {
		width: 100%;
	}
}

@media (min-width: 767px) {
	.card-columns {
		column-count: 2;
	}
}